body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paraText{
  font-size: 20px;
}

.myImg{
  border-radius: 20rem;

}

.bgSkills{
  /* background: rgb(48,55,163);
  background: linear-gradient(180deg, rgba(48,55,163,1)1%, rgba(9,0,11,1) 100%); */
  background-image: linear-gradient(to right top, #0b449b, #402b69, #3b1a3d, #25101d, #000000);
}

.skillGrid{
  /* background-color: #3037A3; */
  background-color: rgba(3, 3, 3, 0.37);
  width: 10rem;
  height: 10rem;
  align-items: center;
  border-radius: 30px;
  padding-top: 1rem;
  border-width: 0px;
  border-color: white;
}

.skillImg{
  width: 8rem;
  height: 2rem;
  align-items: center;
  padding-left: 2rem;
}

.contactImg{

  width: 4rem;
  height: 4rem;
  
}

.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.bgEducation{
  /* background: rgb(48,55,163);
  background: linear-gradient(360deg, rgba(48,55,163,1) 0%, rgba(9,0,11,1) 10%); */
  background-image: linear-gradient(to right top, #0c0d0f, #0a0a0c, #070607, #040304, #000000);
}
.educationTile{
background-color: #121983;
height:10rem;
width:20rem;
position: content;
text-align: center;
padding-top: 2.5rem;
border-radius: 5%;


}


@tailwind base;
@tailwind components;
@tailwind utilities;